.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Home Page style*/

.titleSection{
  background-color: #3171f3;
  height: 3em;
  width: 100%;
  margin:auto;
  text-align: center;
  padding: 1em 0em 0em 0em;
  font-size: 3em;
  
}

.buttonConf{
  height: 5em;
  width: 40em;
  margin: 5em 2em;
  font: 1.2em bold Helvetica, arial;
}


